@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
   
:root  {
  --background: 240 100% 95%;
  --foreground: 240 5% 10%;
  --card: 240 50% 90%;
  --card-foreground: 240 5% 15%;
  --popover: 240 100% 95%;
  --popover-foreground: 240 100% 10%;
  --primary: 240 21.1% 14.9%;
  --primary-foreground: 0 0% 100%;
  --secondary: 240 30% 79%;
  --secondary-foreground: 0 0% 0%;
  --muted: 202 30% 85%;
  --muted-foreground: 240 5% 40%;
  --accent: 202 30% 80%;
  --accent-foreground: 240 5% 15%;
  --destructive: 0 100% 50%;
  --destructive-foreground: 240 5% 90%;
  --border: 240 30% 79%;
  --input: 240 30% 50%;
  --ring: 240 21.1% 14.9%;
  --radius: 0.5rem;
}
.dark  {
  --background: 240 50% 10%;
  --foreground: 240 5% 90%;
  --card: 240 50% 10%;
  --card-foreground: 240 5% 90%;
  --popover: 240 50% 5%;
  --popover-foreground: 240 5% 90%;
  --primary: 240 21.1% 14.9%;
  --primary-foreground: 0 0% 100%;
  --secondary: 240 30% 20%;
  --secondary-foreground: 0 0% 100%;
  --muted: 202 30% 25%;
  --muted-foreground: 240 5% 65%;
  --accent: 202 30% 25%;
  --accent-foreground: 240 5% 90%;
  --destructive: 0 100% 50%;
  --destructive-foreground: 240 5% 90%;
  --border: 240 30% 50%;
  --input: 240 30% 50%;
  --ring: 240 21.1% 14.9%;
  --radius: 0.5rem;
}

  }
  @layer utilities {
    .gradient-text {
        @apply bg-gradient-to-r from-saffron via-white to-green bg-clip-text text-transparent;
    }
}
  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }